@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Playball');
nav {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  font-family: Oswald, sans-serif;
  letter-spacing: 0.08em;
  text-align: inherit;
}
.jumbotron {
  color: white;
  background-image: url(https://ld-wp.template-help.com/wordpress_64023/wp-content/uploads/2016/12/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 0 6%;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.52;
  font-family: Hind, sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  height: 100vh;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.more {
  margin-top: 40px;
  padding: 23px 66px;
  line-height: 1;
  color: #ffffff;
  border-color: #0eb3d6;
  font-family: Oswald, sans-serif;
  background-color: #0adbc9;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.08em;
  text-align: inherit;
  cursor: pointer;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: none;
  transition: .3s;
  text-transform: uppercase;
  border-radius: 0;
  margin: 10px;
}
.more:hover{
  background-color: inherit;
}
.display-4 {
  font-family: 'Playball', Helvetica, Arial, Lucida, sans-serif !important;
}
/* CONTACT */
.con-head {
  margin-top: 30px;
  text-align: center;
}
.con-head h3{
  font-family: 'Playball', Helvetica, Arial, Lucida, sans-serif !important;
}
.contact {
  padding-top: 50px;
  color: white;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(https://ld-wp.template-help.com/wordpress_64023/wp-content/uploads/2016/12/bg6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.con-body {
  margin-top:50px;
}
